* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(315deg, #7f5a83 0%, #094d7e 74%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
}

.info {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.info h1 {
    margin-bottom: 10px;
    font-size: 60px;
}

.ball-img {
    position: relative;
    height: 250px;
}

.ball-img img {
    position: absolute;
    top: 30px;
    left: 300px;
    width: 300px;
    cursor: pointer;
}

.question-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
}

.question-area h2 {
    margin-bottom: 10px;
    font-size: 36px;
    text-transform: uppercase;
}

.question-area input {
    padding: 10px 20px;
    width: 80%;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 8px;
}

.question-area .answer {
    margin-top: 30px;
}

.question-area .answer span {
    font-weight: bold;
}

.question-area .error {
    color: #3add8c;
    font-weight: bold;
}

.shake-animaton {
    animation: shake 1s 1;
}

@keyframes shake {
    0% {
        left: 290px;
    }

    20% {
        left: 340px;
    }

    40% {
        left: 290px;
    }

    60% {
        left: 340px;
    }

    80% {
        left: 290px;
    }

    100% {
        left: 300px;
    }
}